* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.login-form h2 {
  color: #444;
  margin-bottom: 1.5rem;
}

.login-form label {
  font-size: 1rem;
  color: #666;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fafafa;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

.submit-btn:hover {
  background-color: #0056b3;
}

p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #333;
}

.signup-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.signup-link:hover {
  color: #0056b3;
}

.signup-container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.signup-form h2 {
  color: #444;
  margin-bottom: 1.5rem;
}

.signup-form label {
  font-size: 1rem;
  color: #666;
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fafafa;
}

.input-field:focus {
  border-color: #007bff;
  outline: none;
}

.signup-form .submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

.signup-form .submit-btn:hover {
  background-color: #0056b3;
}

p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #333;
}

.login-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.login-link:hover {
  color: #0056b3;
}

